
<article id="page" class="wrapper">



	<header id="header">
		<div class="container">
			{{ page.header }}
		</div>
	</header>

	{% if page.headline %}
		<section id="headline">
			<div class="container">
				{{ page.headline }}
			</div>
		</section>
	{% endif %}

	<main id="main">

			<section id="content" class="">
				{{ page.content }}
			</section>

			{% if page.sidebar %}
			<aside id="sidebar" class="sidebar" role="complementary">
				{{ page.sidebar }}
			</aside>
			{% endif %}

	</main>

	{% if page.footer %}
	<footer id="footer">
		<div class="container">
			{{ page.footer }}
		</div>
	</footer>
	{% endif %}

</article>

