
<article id="page" class="wrapper">

  {% if page.headline %}
	<section id="headline">
		<div class="container">
			{{ page.headline }}
		</div>
	</section>
	{% endif %}

	<header id="header">
		<div class="container">
			{{ page.header }}
		</div>
	</header>

	<main id="main">
		<div class="container">
			<section id="content" class="">
				{{ page.content }}
			</section>

			{% if page.sidebar %}
			<aside id="sidebar" class="sidebar" role="complementary">
				{{ page.sidebar }}
			</aside>
			{% endif %}

		</div>
	</main>

	{% if page.footer %}
	<footer id="footer">
		<div class="container">
			{{ page.footer }}
		</div>
	</footer>
	{% endif %}

</article>

